{% extends "project_management_app/base.html" %}

{% block title %}自案件一覧{% endblock %}

{% block content %}
<h2>自案件一覧</h2>
<table>
    <tr>
        <th>案件名</th>
        <th>ステータス</th>
        <th>進捗</th>
        <th>予算消費率</th>
        <th></th>
        <th></th>
    </tr>
    {% for project in projects %}
    <tr>
        <td>
            {{ project.name }}
            {% if project.is_over_budget %}
                <span style="color: red;">⚠ 予算超過</span>
            {% endif %}
        </td>
        <td>{{ project.get_status_display }}</td>
        <td>{{ project.progress_rate }}%</td>
        <td>{{ project.consumption_rate }}%</td>
        <td>
            <a href="{% url 'budget_record_add' project.pk %}">
                実績入力
            </a>
        </td>
        <td>
            <a href="{% url 'project_detail' project.pk %}">
                詳細
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}