{% extends "project_management_app/base.html" %}

{% block content %}
<h2>タスク一覧</h2>

<br>

{% for project in projects %}
    <h3>
        <a href="{% url 'project_detail' project.pk %}">{{ project.name }}</a>
            {% if project.is_over_budget %}
            <span class="warning">⚠ 予算超過</span>
        {% endif %}
    </h3>
    {% if request.user == project.applicant and project.status != project.Status.COMPLETED %}
        <a href="{% url 'task_create' project.pk %}"><strong>+タスク追加</strong></a>
    {% endif %}
    <table>
        <tr>
            <th>タスク</th>
            <th>担当者</th>
            <th>ステータス</th>
            <th>進捗</th>
            <th>期限</th>
            <th></th>
        </tr>

        {% for task in project.tasks.all %}
        <tr>
            <td>
                <a href="{% url 'task_detail' task.pk %}">
                    {{ task.title }}
                </a>
            </td>
            <td>{{ task.assignee }}</td>
            <td>
                {% if task.is_delayed %}
                    <span class="warning"><strong>⚠ {{ task.status }}</strong></span>
                {% else %}
                    {{ task.status }}
                {% endif %}
            </td>
            <td style="text-align:center;">
                <div style="background:#eee; width:150px; display:inline-block;">
                    <div style="
                        background:#4caf50;
                        width:{{ task.progress_rate }}%;
                        text-align:center;
                        color:white;
                    ">
                        {{ task.progress_rate }}%
                    </div>
                </div>
            </td>
            <td>
                {{ task.due_date }}
            </td>
            <td>
                {% if request.user == task.assignee or request.user == task.project.applicant %}
                    {% if task.project.status == task.project.Status.IN_PROGRESS %}
                        <a href="{% url 'task_update' task.pk %}">更新</a>
                    {% endif %}
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <br><br>
{% endfor %}
{% endblock %}