{% extends "project_management_app/base.html" %}
{% load humanize %}
{% block title %}案件詳細{% endblock %}

{% block content %}
<h2>{{ project.name }}</h2>

{% if request.user == project.applicant and project.status == project.Status.APPROVED %}
    <form method="post" action="{% url 'project_start' project.pk %}">
        {% csrf_token %}
        <button type="submit">案件を開始</button>
    </form>
{% endif %}

<br>

<p>概要: {{ project.description }}</p>
<p>部門: {{ project.department.name }}</p>
<p>申請者: {{ project.applicant.username }}</p>
<p>開始日： {{ project.start_date }}</p>
<p>期限： {{ project.due_date }}</p>
<p>進捗率: {{ project.progress_rate }} %</p>
<p>
    予算: {{ project.estimated_budget|intcomma }} 円
    <a href="{% url 'budget_plan_detail' project.pk %}">
        （詳細）
    </a>
</p>
<p>実績合計: {{ project.total_actual_amount|intcomma }} 円</p>
<p>消費率: {{ project.consumption_rate }} %</p>

<br>
<hr>

<h3>タスク一覧</h3>
{% if request.user == project.applicant %}
    <a href="{% url 'task_create' project.pk %}"><strong>+タスク追加</strong></a>
{% endif %}
<table>
    <tr>
        <th>タスク</th>
        <th>担当者</th>
        <th>ステータス</th>
        <th>進捗</th>
        <th>期限</th>
        <th></th>
        <th></th>
    </tr>
    {% for task in project.tasks.all %}
    <tr>
        <td>
            <a href="{% url 'task_detail' task.pk %}">
                {{ task.title }}
            </a>
        </td>
        <td>{{ task.assignee }}</td>
        <td>
            {% if task.is_delayed %}
                <span class="warning"><strong>⚠ {{ task.get_status_display }}</strong></span>
            {% else %}
                {{ task.get_status_display }}
            {% endif %}
        </td>
        <td style="text-align:center;">
            <div style="background:#eee; width:150px; display:inline-block;">
                <div style="
                    background:#4caf50;
                    width:{{ task.progress_rate }}%;
                    text-align:center;
                    color:white;
                ">
                    {{ task.progress_rate }}%
                </div>
            </div>
        </td>
        <td>
            {{ task.due_date }}
        </td>
        <td>
            {% if request.user == task.assignee or request.user == task.project.applicant %}
                {% if task.project.status == task.project.Status.IN_PROGRESS %}
                    <a href="{% url 'task_update' task.pk %}">更新</a>
                {% endif %}
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {% if request.user == task.project.applicant %}   
                <a href="{% url 'task_delete' task.pk %}">削除</a>
            {% else %}
                -
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<hr>

<h3>予算実績</h3>
{% if request.user == project.applicant %}
    <a href="{% url 'budget_record_add' project.pk %}"><strong>+実績を追加</strong></a>
{% endif %}
<table>
    <tr>
        <th>費目</th>
        <th>予算</th>
        <th>実績</th>
        <th>差額</th>
        <th>消費率</th>
    </tr>

    {% for b in budget_summary %}
    <tr>
        <td>{{ b.category }}</td>
        <td>{{ b.planned_amount|default:0|intcomma }}</td>
        <td>{{ b.actual|default:0|intcomma }}</td>
        <td>
            {% if b.diff > 0 %}
                <span style="color:red;">+{{ b.diff|intcomma }}</span>
            {% else %}
                {{ b.diff|intcomma }}
            {% endif %}
        </td>
        <td>{{ b.rate }}%</td>
    </tr>
    {% endfor %}
    <tr>
        <td><strong>合計</strong></td>
        <td>{{ project.estimated_budget|intcomma }}</td>
        <td>{{ project.total_actual_amount|intcomma }}</td>
        <td>
            {% if project.total_diff > 0 %}
                <span style="color:red;">+{{ project.total_diff|intcomma }}</span>
            {% else %}
                {{ project.total_diff|intcomma }}
            {% endif %}
        </td>
        <td>{{ project.consumption_rate }}%</td>
    </tr>
</table>

<hr>
<h3>実績明細</h3>
{% if request.user == project.applicant %}
    <a href="{% url 'budget_record_add' project.pk %}"><strong>+実績を追加</strong></a>
{% endif %}
<table>
    <tr>
        <th>費目</th>
        <th>明細</th>
        <th>金額</th>
        <th>日付</th>
        <th></th>
    </tr>

    {% for r in budget_records %}
    <tr>
        <td>{{ r.budget_plan.category }}</td>
        <td>{{ r.item_name }}</td>
        <td>{{ r.amount|intcomma }} 円</td>
        <td>{{ r.recorded_at }}</td>
        <td>
            {% if request.user == project.applicant %}   
                <a href="{% url 'budget_record_delete'  project_pk=project.id record_pk=r.id %}">削除</a>
            {% else %}
                -
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<hr>

<h3>承認履歴</h3>
<table>
    <tr>
        <th>段階</th>
        <th>承認者</th>
        <th>結果</th>
        <th>日時</th>
    </tr>
    {% for approval in project.approvals.all %}
    <tr>
        <td>
            <a href="{% url 'approval_detail' approval.pk %}">
                {{ approval.get_level_display }}
            </a>
        </td>
        <td>{{ approval.approver.username }}</td>
        <td>{{ approval.get_examination_display }}</td>
        <td>{{ approval.examined_at }}</td>
    </tr>
    {% endfor %}
</table>

<hr>
<h3>▼コメント</h3>

<ul>
    {% for c in project.comments.all %}
        <li>
            <strong>{{ c.author.username }}</strong>
            ({{ c.created_at|date:"Y-m-d H:i" }})<br>
            {{ c.content|linebreaks }}
        </li>
    {% empty %}
        <li>コメントはまだありません</li>
    {% endfor %}
</ul>
<h4>コメント投稿:</h4>

<form method="post" action="{% url 'project_comment_add' project.pk %}">
    {% csrf_token %}
    <textarea name="content" rows="5" cols="50"></textarea><br>
    <button type="submit">投稿</button>
</form>
<br><br>

{% endblock %}